.addArea {
  width: 100%;
  display: flex;
  gap: 8px;

  align-items: center;
  justify-content: center;
}

.addArea input {
  width: 100%;
  background-color: var(--gray-500);

  padding: 1rem;

  border: 1px solid var(--gray-700);
  border-radius: 8px;

  color: var(--gray-300);

  transition: color 0.2s;
}

.addArea input:focus {
  color: var(--gray-100);
}

.addArea button {
  display: flex;
  padding: 16px;
  cursor: pointer;

  align-items: center;
  justify-content: center;

  background: transparent;
  background-color: var(--blue-700);

  border-radius: 8px;
  border: 0;
  font-size: 0.875rem;
  font-weight: 700;

  color: var(--white);

  gap: 0.5rem;
  box-shadow: 0 0 0 0px;
  transition: background-color 0.2s;
}

.addArea button:hover {
  background-color: var(--blue-300)
}